.layout-footer {
    transition: margin-inline-start $transitionDuration; /* Changed from margin-left to margin-inline-start */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-top: 1px solid var(--surface-border);
}
